 [Unit]
 Description=monitor battery charge
 RefuseManualStart=no
 RefuseManualStop=no

 [Timer]
 Persistent=false
WakeSystem=false 
OnStartupSec=50s 
OnUnitActiveSec=7min
Unit=bat-mon.service

 [Install]
 WantedBy=default.target


